<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
    <meta charset="UTF-8" />
    </head>
<body>
<div id="textoTitulo">
    <h1>Bienvenido al sistema de comprobación de credenciales</h1> 
</div>
 <div id="dashboard_div">
<form id="form_voters" th:action="user"
		th:object="${peticion}" method="post" enctype='application/json'>
		
		<label for="email">Email </label>
		<input id="email" type="text" name="email" />
		

		<label for="pass">Password </label>
		<input id="pass" type="password" name="password" />
		
		<button type="submit">Enviar</button>

	</form>
 </div>  
    
 </body> 

</html>