<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="textoTitulo">
    <h1>Bienvenido al sistema de comprobación de credenciales</h1> 
</div>
    <!-- 
 <div id="dashboard_div">
     <form style="display:inline-block" th:action="user" th:object="${peticion}" th:method="post">
            <input value="Introduzca su nombre de usuario" th:value="${peticion.email}"/>
            <input value="Introduzca su contraseña" th:object="${peticion.password}"/>
        <button type="submit" value="Search">Comprobar credenciales</button>
     </form>
 </div> 
-->
</body>
</html>